<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Formulario</title>
</head>
<body>
  <section class="formulario-registro">
    <h1>Formulario Logueo Empleados</h1>
    <form method="post" action="/submit">
      
        <label for="usuario">Usuario:</label>
        <input class="campos" type="text" id="usuario" name="usuario"><br><br>
        <label for="contrasenia">Contraseña:</label>
        <input class="campos" type="password" id="contrasenia" name="contrasenia"><br><br>
        <input class="botonEnviar" type="submit" value="Ingresar">
      
    </form>
  </section>
</body>
</html>